SUBSYSTEM=="video4linux", SUBSYSTEMS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="085e", PROGRAM="/home/nvidia/Ki-cker/scripts/configure_video.sh"
