<html>
    <head>
<style>
h1 {
    text-align: center;
}
label, input, select {
    font-size: 30px;
    display: inline-block;
    margin: 20px;
}
label {
    width: 20%;
}
input {
    width: 30%;
}
img {
    max-width: 100%;
    max-height: 50%;
}

div {
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 10%;
    max-height: calc(100% - 300px);
}

</style>

    </head>
    <body>
        <h1>New game</h1>
        <form method="POST" action="start">
        <input id="name" name="name" type="hidden" value="hidden"/><br/>
        <label for="model">Model</label>
        <select name="model" id="model">
            {% for model in models %}
            <option value="{{ model }}">{{ model }}</option>
            {% endfor %}
        </select><br/>
        <label for="randomness">Exploration</label>
        <input id="randomness" name="randomness" type="range" value="10"/><br/>
        <label></label>
        <input type="submit" value="Start">
        </form>

    </body>
</html>
